.hide-skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hide-skip:focus{
    position: static;
    width: auto;
    height: auto;
}

body nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(30, 30, 30);

    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-style: normal;
    font-family: sans-serif;
}

body nav ul li{
    display: inline-block;
}

body nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.activePage{
    background-color: #727272;
    font-weight: bold;
    text-decoration: underline;
}

h1{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

h2{
    font-size: x-large;
    text-decoration: underline;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

h3{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 15px;
}

.dog{
    border: 3px dotted rgb(255, 166, 0);
    border-radius: 5px;
    background-color: rgb(255, 246, 230);
    padding: 20px;
    margin: 10px;
    margin-top: 10px;
}

#bacon {
    margin-top: 0;
}

#chako {
    border: 3px dotted rgb(0, 0, 255);
    background-color: rgb(235, 236, 255);
}

#juno {
    border: 3px dotted rgb(90, 0, 90);
    background-color: rgb(255, 234, 255);
}

#rocket {
    border: 3px dotted rgb(163, 0, 0);
    background-color: rgb(255, 228, 232);
}

#sage {
    border: 3px dotted rgb(119, 119, 0);
    background-color: rgb(252, 252, 229);
}

#pluto {
    border: 3px dotted rgb(0, 99, 0);
    background-color: rgb(239, 255, 239);
}

#img-right{
    grid-row: 1/3;
    grid-column-start: 2;
}

.dog-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;
    padding: 15px;
}

#img-left {
    grid-row: 1/3;
    grid-column-start: 1;
}

.dog-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 550px;
    border: 3px solid rgb(255, 174, 22);
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#chako-photos{
    border: 3px solid rgb(55, 55, 253);
}

#juno-photos{
    border: 3px solid rgb(174, 1, 174);
}

#rocket-photos{
    border: 3px solid rgb(163, 0, 0);
}

#sage-photos{
    border: 3px solid rgb(119, 119, 0);
}

#pluto-photos{
    border: 3px solid rgb(0, 99, 0);
}

#chako-img-right{
    grid-column-start: 2;
    grid-row-start: 1;
}

#sage-right{
    grid-column-start: 2;
    grid-row-start: 2;
    max-height: 220px;
}

#sage-left{
    grid-column-start: 1;
    grid-row-start: 2;
}

.dog-likes{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

img{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

video{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: bold;
}

.recipe-info{
    padding-bottom: 10px;
}

.container{
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.recipe-intro{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#wings-id{
    margin-top: 0px;
}

#bottom-img{
    grid-column: 1/ span 2;
    grid-row-start: 2;
}

.recipe-head h3{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-decoration: underline;
}

.recipe-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
    padding: 3px;
}

#start{
    margin-top: 0px;
}

.place {
    border: 2px dotted black;
    border-radius: 10px;
    margin: 10px;
}

.place-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: small;
}

.place-intro p{
    padding: 10px;
}

#top-left{
    grid-column-start: 1;
    grid-row-start: 1;
}

#bot-left{
    grid-column-start: 1;
    grid-row-start: 2;
}

.chiang-photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#chiang-right{
    grid-column: 3;
    grid-row: 1/3;
}

.photo-place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 5px;
}

@media (prefers-reduced-motion) {
    .gif{
        display: none;
    }
}

.p1{
    grid-column: 1/3;
    grid-row-start: 3;
    text-align: left;
}

.p2{
    padding-top: 10px;
    grid-column: 1/3;
    grid-row-start: 4;
    text-align: left;
}

.dog-header-left{
    grid-column-start: 1;
    grid-row: 1/3;
}

.dog-header-right{
    grid-column-start: 2;
    grid-row: 1/3;
}

@media screen and (min-width: 481px){
    h1 {
        padding-top: 60px;
    }
    h2 {
        grid-row-start: 1;
        grid-column: 1/-1;
    }
    #img-right {
        grid-row-start: 3;
        grid-row-end: 4;
        width: 150px;
        height: 150px;
        margin-top: 50%;
    }
    #img-left{
        width: 150px;
        height: 150px;
        margin-top: 50%;
    }
    .dog-header-right {
        grid-column: 1/-1;
        grid-row-start: 1;
    }
    #p1 {
        margin-top: 20%;
    }
    #p1, #p2{
        grid-column: 1;
    }
    #p1-r {
        margin-top: 20%;
    }
    #p1-r, #p2-r{
        grid-column-start: 2;
    }

    #img-left {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    .dog-photos{
        height: 600px;
        align-content: space-evenly;
    }
    .dog-photos img, video{
        width: 170px;
        height: 170px;
    }

    .apply-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .recipe-info {
        grid-row-start: 1;
        grid-column: 1/-1;
    }
    .recipe-intro img{
        grid-row-start: 3;
        grid-column-start: 2;
        width: 200px;
    }
    .paragraph{
        grid-row-start: 3;
        grid-column-start: 1;
        margin-top: 15%;
    }
    .recipe-img img {
        width: 150px;
        margin-top: auto;
        margin-bottom: auto;
    }

}